fastapi
uvicorn
python-multipart
numpy
pandas
scipy
matplotlib
scikit-learn
xgboost
rdkit
playwright
torch
torchvision
torchaudio
gpytorch
botorch
tqdm
pyopenms
pymzml
requests
mocca2
pyteomics
chemprop
slowapi
